<div class="row g-2">
    <% @boards.each do |board| %>
      <div class="col-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">
                <%= board.name %>
              </h5>
              <%= link_to 'Перейти', board, class: 'btn btn-primary' %>
            </div>
          </div>
      </div>
    <% end %>
    <div class="col-4">
        <div class="card text-bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">
              Новая доска
            </h5>
            <%= link_to 'Создать', new_board_path, class: 'btn btn-primary' %>
          </div>
        </div>
    </div>
</div>
